[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.3.0"
django-maintenancemode = "==0.11.2"
psycopg2 = "*"
gunicorn = "==19.4.5"
phonenumbers = "==8.4.2"
Django = "==3.2.15"

[dev-packages]

[requires]
python_version = "3.9"
