{% extends "base.html" %}
{% block title_suffix %} - RSVP{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="rsvp"%}
{% endblock %}
{% block content %}

<div class="pt-page pt-page-8 pt-page-current">
      <div class="container-fluid bg-main-image">
        <div class="blur-img bg-rsvp"></div>
        <div class="page-fixed">
          <div class="bg-main-image-overlay-fixed ">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Oops!<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="rsvp">
                    <div class="rsvp-form white-box wow fadeInUp col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" data-class="fadeInUp">
                    {% if expired %}
                      <p> Unfortunately, the code you entered is no longer valid.  It expired on:  <br>
                        <span>{{ expired.expires }}</span> </p>
                      <p><a href="/rsvp/resend_code/{{ rsvp.id }}/?email={{ rsvp.email }}">Send a new code</a> to {{ rsvp.email }}!
                    {% else %}
                      <p> You need to enter a valid code to proceed.
                      {% if working %}
                        One was sent to you on: <br />
                        <span>{{ working.created }}</span></p>
                        <p> <a href="/rsvp/resend_code/{{ rsvp.id }}/?email={{ rsvp.email }}">Send another one</a> to {{ rsvp.email }}!</p>
                      {% else %}
                      <p> <a href="/rsvp/resend_code/{{ rsvp.id }}/?email={{ rsvp.email }}">Send one</a> to {{ rsvp.email }}!</p>
                      {% endif %}
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script> 
  <script type="text/javascript" src="/static/js/rsvp.js"></script>

{% endblock %}


