      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-gifts"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2 ">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Gifts Registry<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                    <p class="col-md-6 col-md-offset-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur.</p>
                  </div>
                </div>
                <div class="container">
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/logo1.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="images/amazon.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="images/beyond.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="images/decor.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/gifts.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/john.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/gifts.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/luckxry.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/belk.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/decor.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/gifts.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="#" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="images/john.png" alt="giftlogo" /> </div>
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>