      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-people"></div>
        <div class="page-fixed">
          <div class="bg-main-image-overlay-fixed">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>The people <span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum. Suspendisse potenti. Quisque felis est, blandit sed laoreet quis.</p>
                  </div>
                </div>
                <div class="container">
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 wow fadeInLeft responsive-margin-double" data-class="fadeInLeft">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label-default">groomsmen</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>John Snow </h4>
                              <p>Best Men</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Edward Moore </h4>
                              <p>Brother</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>David Smith </h4>
                              <p>Class Mate</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Joseph Brown </h4>
                            <p>Best Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Robert Green </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Jeff Nelson </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Kevin Wilson </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Jason Parker </h4>
                            <p>College Friend</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 pull-right wow fadeInRight" data-class="fadeInRight">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label bride-color">Bridesmaids</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Patricia Adams </h4>
                              <p>Best Women</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Linda Mitchell </h4>
                              <p>Sister</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Lisa Jones </h4>
                              <p>Best Friend</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Jennifer Lewis </h4>
                            <p>class Mate</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Susan Edwards </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Nancy Lee </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Carol Williams </h4>
                            <p>College Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="http://placehold.it/500x500" alt="the-couple" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Sharon Lopez </h4>
                            <p>College Friend</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>