      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-home"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2-gallery">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Destination Info<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                  <p>Cited as one of "the most beautiful towns in America," Traverse City has turned into a major wedding destination in the last decade. In fact, close to 80% of the weddings held at our wedding venue are of couples from out of state! We couldn't believe how many venues were booking more than a year in advance, and we were fortunate to secure our date of July 15th.</p>
                  <h4>Book Early!</h4>

                  <p>What this means for guests is that you will want to book early! Our wedding is the week after Cherry Festival so you shouldn't have to contend with the big crowds; that being said, July is prime time for Traverse City, so rooms and airlines will book fast. Based on our research, you will be able to secure a better deal if you book well in advance. When booking airfare, the airport code is TVC, and you should be ok to book 6-8 weeks in advance. You may also choose to fly into Detroit, Flint, or Chicago, as airfare is typically less expensive. If you were to choose this option, you would need to rent a car, and it would take four to five hours to drive from Detroit and around six from Chicago. When choosing a place to stay, here's what you need to know:</p>
                  </div>
                </div>
                <div class="container">
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn">
                      <div class="the-couple groom-color text-center">
                        <div class="the-couple-title">
                          <p><span>TVC</span></p>
                        </div>
                        <div class="the-couple-img">
                          <div class="person-image">
                            <img src="/static/img/tvc.jpg" alt="Cherry Capitol Airport" class="img-circle" />
                            <div class="the-couple-img-hover">
                              <div class="social text-center">
                                <a class="fb-color" href="http://www.tvcairport.com/" target="_blank">&nbsp;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="the-couple-data">
                          <p>"Cherry Capitol Airport"</p>
                          <p>Traverse City, MI</p>
                          <p class="about-the-couple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum.</p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn">
                      <div class="the-couple bride-color text-center">
                        <div class="the-couple-title">
                          <p><span>FNT</span></p>
                        </div>
                        <div class="the-couple-img">
                          <div class="person-image">
                            <img src="/static/img/fnt.jpg" alt="Bishop International Airport" class="img-circle" />
                            <div class="the-couple-img-hover">
                              <div class="social text-center">
                                <a class="fb-color" href="http://www.bishopairport.org/" target="_blank">&nbsp;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="the-couple-data">
                          <p>"Bishop International Airport"</p>
                          <p>Flint, MI</p>
                          <p class="about-the-couple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum.</p>
                        </div>
                      </div>
                    </div>
                  
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn">
                      <div class="the-couple groom-color text-center">
                        <div class="the-couple-title">
                          <p><span>DTW</span></p>
                        </div>
                        <div class="the-couple-img">
                          <div class="person-image">
                            <img src="/static/img/dtw.jpg" alt="Bishop International Airport" class="img-circle" />
                            <div class="the-couple-img-hover">
                              <div class="social text-center">
                                <a class="fb-color" href="http://www.metroairport.com/" target="_blank">&nbsp;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="the-couple-data">
                          <p>"Detroit Metro Airport"</p>
                          <p>Detroit, MI</p>
                          <p class="about-the-couple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum.</p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn">
                      <div class="the-couple bride-color text-center">
                        <div class="the-couple-title">
                          <p><span>ORD</span></p>
                        </div>
                        <div class="the-couple-img">
                          <div class="person-image">
                            <img src="/static/img/fnt.jpg" alt="Bishop International Airport" class="img-circle" />
                            <div class="the-couple-img-hover">
                              <div class="social text-center">
                                <a class="fb-color" href="http://www.bishopairport.org/" target="_blank">&nbsp;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="the-couple-data">
                          <p>"Chicago O'Hare"</p>
                          <p>Chicago, IL</p>
                          <p class="about-the-couple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat dui non justo scelerisque interdum. Mauris cursus gravida efficitur. Aliquam viverra semper sodales. Cras sed scelerisque orci. Vivamus vitae nulla quis justo suscipit interdum.</p>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>