      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-home"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2-gallery">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Destination Info<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                  <p>Cited as one of "the most beautiful towns in America," Traverse City has turned into a major wedding destination in the last decade. In fact, close to 80% of the weddings held at our wedding venue are of couples from out of state! We couldn't believe how many venues were booking more than a year in advance, and we were fortunate to secure our date of July 15th.</p>

                  <p>What this means for guests is that you will want to book early! Our wedding is the week after Cherry Festival so you shouldn't have to contend with the big crowds; that being said, July is prime time for Traverse City, so rooms and airlines will book fast. Based on our research, you will be able to secure a better deal if you book well in advance. When booking airfare, the airport code is TVC, and you should be ok to book 6-8 weeks in advance. You may also choose to fly into Detroit, Flint, or Chicago, as airfare is typically less expensive. If you were to choose this option, you would need to rent a car, and it would take four to five hours to drive from Detroit and around six from Chicago. When choosing a place to stay, here's what you need to know:</p>
                  </div>
                </div>
                <div class="page-top display_none">
                  <div class="gridlayout-main">
                    <div class="gridlayout">
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x900.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x1000.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x900.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x900.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/600x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/600x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/900x1200.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/900x1200.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x1000.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x600.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x600.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                      <div class="grid-item"> <a class="fancybox" href="images/gallery/1000x1000.jpg" data-fancybox-group="gallery"> <img class="img-responsive" alt="gallery-image" src="images/gallery/1000x1000.jpg">
                        <div class="gallery-image-hover"><i class="glyphicon glyphicon-search"></i></div>
                        </a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>