{% extends "base.html" %}
{% block title_suffix %} - Gifts{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="gifts"%}
{% endblock %}
{% block content %}

<div class="pt-page pt-page-7 pt-page-current">
      <div class="container-fluid bg-main-image">
        <div class="blur-img bg-rsvp"></div>
        <div class="page-fixed">
          <div class="bg-main-image-overlay-fixed ">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Gifts Registry<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                    <p class="col-md-6 col-md-offset-3">Your presence at our wedding is gift enough, but if you do wish to buy us something, we are registered at a number of locations. This was something Regina put off for some time, but once she got going, there was no stopping her...hence the four different locations. Do keep in mind that we will be flying back to Los Angeles after the wedding, so shipping gifts to LA will make George's life considerably easier (because who are we kidding, we know he will be the one carrying the luggage). 
                    <br /><br />
Much love, and thank you again. </p>
                  </div>
                </div>
                <div class="container">
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="https://www.restorationhardware.com/storefront/gift-registry/gift-list.jsp?giftlistId=gl1308178326" target="_blank">
                    <div class="logo-box"> <img class="img-responsive zoomeffect" src="/static/img/RH.jpg" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="https://secure.potterybarn.com/registry/dwtsmgxwml/registry-list.html" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="/static/img/PotteryBarn.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="https://secure.williams-sonoma.com/registry/tbxfd8whkv/registry-list.html" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="/static/img/ws.png" alt="giftlogo" /> </div>
                    </a> </div>
                  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 text-center wow bounceIn" data-class="bounceIn"> <a href="https://www.anthropologie.com/registry/listing?registryId=NTU5NGJJMMQZ" target="_blank">
                    <div class="logo-box"> <img class="img-responsive  zoomeffect" src="/static/img/Anthro.png" alt="giftlogo" /> </div>
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}


