{% extends "base.html" %}
{% block extra_css %}
<link type="text/css" href="/static/css/jquery.countdown.css" rel="stylesheet">
{% endblock %}
{% block title_suffix %} - Home{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="home"%}
{% endblock %}
{% block content %}
      <div class="container-fluid display_none bg-main-image">
        <div class=" blur-img bg-home"></div>
        <div class="page-fixed">
          <div class="bg-main-image-overlay">
            <div class="main-section-s2">
              <div class="inner-data">
                <div class="couple-name wow fadeInUp">
                  <h1 class="wow fadeInLeft">George Mitchell </h1>
                  <span class="glyphicon glyphicon-heart"></span>
                  <h1 class="wow fadeInRight">Regina Rosi</h1>
                </div>
                <div class="tag-line wow fadeInUp">
                  <p><span>We’re getting married.</span></p>
                </div>
                <div class="clearfix"></div>
                <div class="countdown countdown-container container">
                  <div class="clock row">
                    <div class="clock-item clock-days countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-days" class="clock-canvas"></div>
                          <div class="text">
                            <p class="val">0</p>
                            <p class="type-days type-time">days</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clock-item clock-hours countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.33s">
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-hours" class="clock-canvas"></div>
                          <div class="text">
                            <p class="val">0</p>
                            <p class="type-hours type-time">hours</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clock-item clock-minutes countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.37s">
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-minutes" class="clock-canvas"></div>
                          <div class="text">
                            <p class="val">0</p>
                            <p class="type-minutes type-time">minutes</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clock-item clock-seconds countdown-time-value wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.42s">
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-seconds" class="clock-canvas"></div>
                          <div class="text">
                            <p class="val">0</p>
                            <p class="type-seconds type-time">seconds</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.final-countdown.js"></script>
{% endblock %}

{% block jq_onready %}
    var today = new Date();
    var start = new Date("Jul 16 2016 12:00:00 GMT-0500");
    var target = new Date("Jul 15 2017 15:00:00 GMT-0500");

    if ($.find('.countdown').length) {
        $('.countdown').final_countdown({
            'start': start.getTime() / 1000,
            'end': target.getTime() / 1000,
            'now': today.getTime() / 1000
        }, function () {
            // Finish Callback
        });
    }
{% endblock %}