{% extends "base.html" %}
{% block extra_css %}
<link type="text/css" href="/static/css/jquery.countdown.css" rel="stylesheet">
{% endblock %}
{% block title_suffix %} - Leelanau Peninsula{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="places"%}
{% endblock %}
{% block content %}

<div class="pt-page pt-page-5 pt-page-current">
      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-leelanau"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2-gallery">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Leelanau Peninsula<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 location-content">
                    <div class="col-md-3 col-xs-12">
                      <div class="timeline-img"> <img class="img-responsive" src="/static/img/ciccone.jpg" alt="Ciccone Winery" /> </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                  <p>
                    The wedding site, <a href="http://www.cicconevineyard.com/index.html" target="_blank">Ciccone Vineyard and Winery</a>, is in Suttons Bay, and there are a number of hotels in the area. Staying in Leelanau would put you 10-20 minutes from the wedding site, 20-30 minutes from Traverse City, and 40-50 minutes from Old Mission. The Leelanau Peninsula is substantially larger than the Old Mission Peninsula and is home to numerous wineries and distilleries as well as <a href="http://www.sleepingbeardunes.com/" target="_blank">The Sleeping Bear Dunes</a>. Named the "Most Beautiful Place in America" on ABC's Good Morning America, the dunes are definitely worth a visit! 
                  </p>
                  </div>
                </div>
              </div>
                <h4 style="color:#000;text-align: center;">Hotels</h4>
                <div class="container">
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInLeft padding-left-right-zero" data-class="fadeInLeft">
                      <div class="white-box ceremony-detail">
                        <h5>Sunset Lodge
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/sunsetlodge.jpg" alt="Sunset Lodge" />
                        </div>
                        <a href="http://sunsetlodgeomena.com/" target="_blank">Website Link</a>
                          <p>A beautiful lodge located in the northernmost area of Leelanau. It's about 15 minutes from the wedding location and 30 minutes from downtown Traverse City. Since it's more secluded, it's a great base to explore the area and would put you close to the Sleeping Bear Dunes, local wineries, and a variety of activities like hiking, biking, and canoeing. 
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInRight padding-left-right-zero" data-class="fadeInRight">
                      <div class="white-box ceremony-detail">
                        <h5>Fountain Point Resort 
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/fountainpoint.jpg" alt="Fountain Point Resort" />
                        </div>
                        <a href="http://www.fountainpointresort.com/" target="_blank">Website Link</a>
                          <p> A historic summer resort right on the beach. There are 19 cottages available as well as hotel rooms for nightly stays; they can accommodate up to 50 guests. This would put you 30 minutes from downtown Traverse City and 10 minutes from the wedding venue. This place books quickly, but they may still have a few cottages available. 
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInLeft padding-left-right-zero" data-class="fadeInLeft">
                      <div class="white-box ceremony-detail">
                        <h5>Leelanau Sands Casino 
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/sandscasino.jpg" alt="Leelanau Sands Casino" />
                        </div>
                        <a href="http://www.leelanausandscasino.com/" target="_blank">Website Link</a>
                          <p>While this place sports an early 90s vibe, the location is great and there's a beautiful patio with sweeping lake views where you can socialize and enjoy some wine. It's just a few miles away from the wedding venue and is a great option for anyone who wants to gamble! Price is great too--since you're on the reservation, there are no taxes.  
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
