{% extends "base.html" %}
{% block title_suffix %} - The People{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="people"%}
{% endblock %}
{% block content %}

<div class="pt-page pt-page-4 pt-page-current">
      <div class="container-fluid bg-main-image display_none">
        <div class="blur-img bg-people"></div>
        <div class="page-fixed">
          <div class="bg-main-image-overlay-fixed">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>The people <span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 about-the-people">
                    <p class="col-md-6 col-md-offset-3 col-xs-12">It takes a village, or so they say... or wait a minute, is that
                    something about raising kids?  Well, whatever the case, we've got a 
                    whole host of folks that are going to help us pull this shindig off.
                    Do people still say folks or shindig?</p>
                  </div>
                </div>
                
                <div class="container">
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 wow fadeInLeft responsive-margin-double" data-class="fadeInLeft">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label-default">groomsmen</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image img-circle"> <img src="/static/img/tony.jpg" alt="Tony Tisdale" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Tony Tisdale</h4>
                              <p>Cousin (Brother)</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/brendan.jpg" alt="Brendan Power" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Brendan Power</h4>
                              <p>Oldest [duration] Friend</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/morris.jpg" alt="Morris Sim" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Morris Sim</h4>
                              <p>Oldest [chronological] Friend</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/mario.jpg" alt="Mario Jobbe" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Mario Jobbe</h4>
                            <p>Oldest [maturity] Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image img-circle"> <img src="/static/img/jenny.jpg" alt="Jenny Mitchell" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Jenny Mitchell</h4>
                              <p>Sister (GroomsWOMAN)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 pull-right wow fadeInRight" data-class="fadeInRight">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label bride-color">Bridesmaids</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/yolanda.jpg" alt="Yolanda Helfrich" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Yolanda Helfrich</h4>
                              <p>Sister</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/rachel.jpg" alt="Rachel Ramaswamy" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Rachel Ramaswamy</h4>
                              <p>Childhood Friend</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/sandra.jpg" alt="Sandra Battiata" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Sandra Battiata</h4>
                              <p>Friend</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/elodie.jpg" alt="Elodie Mehren" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Elodie Mehren</h4>
                            <p>Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/andrea.jpg" alt="Andrea Drobnick" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Andrea Drobnick</h4>
                            <p>Friend</p>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/marianne.jpg" alt="Marianne Seney" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <h4>Marianne Seney</h4>
                            <p>Sister-in-law</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">&nbsp;</div>
                <div class="container">
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 wow fadeInLeft responsive-margin-double" data-class="fadeInLeft">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label-default">Officiants</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image img-circle"> <img src="/static/img/sean.jpg" alt="Sean Mitchell" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Sean Mitchell</h4>
                              <p>Brother</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image img-circle"> <img src="/static/img/nat.jpg" alt="Nat Rosi" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Nat Rosi</h4>
                              <p>Brother</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 pull-right wow fadeInRight" data-class="fadeInRight">
                    <div class="col-md-12 text-center couple-responsive-padding">
                      <div class="cat-title">
                        <p><span class="label label bride-color">Parents</span></p>
                      </div>
                      <div class="the-people  text-center">
                        <div class="the-people-slider">
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/tomlin.jpg" alt="Tomlin Rosi" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Tomlin Rosi</h4>
                              <p>Father of the Bride</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/marilyn.jpg" alt="Marilyn Rosi" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Marilyn Rosi</h4>
                              <p>Mother of the Bride</p>
                            </div>
                          </div>
                          <div>
                            <div class="the-couple-img col-md-12 padding-left-right-zero">
                              <div class="person-image  img-circle"> <img src="/static/img/carol.jpg" alt="Carol Mitchell" class="img-circle img-responsive">
                                <div class="the-couple-img-hover">
                                  <div class="social text-center"><a class="fb-color" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="tw-color" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="gp-color" href="#" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                              </div>
                            </div>
                            <div class="the-couple-data">
                              <h4>Carol Mitchell</h4>
                              <p>Mother of the Groom</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block jq_onready %}


$('.the-people-slider').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        autoplay: true,
        responsive: [
  {
      breakpoint: 981,
      settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false
      }
  },

   {
       breakpoint: 769,
       settings: {
           slidesToShow: 1,
           slidesToScroll: 1,
           arrows: false
       }
   },
    {
        breakpoint: 640,
        settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false
        }
    },
   {
       breakpoint: 361,
       settings: {
           slidesToShow: 1,
           slidesToScroll: 1,
           arrows: false
       }
   }
   // You can unslick at a given breakpoint now by adding:
   // settings: 'unslick'
   // instead of a settings object
        ]
    });
{% endblock %}
