{% extends "base.html" %}
{% block title_suffix %} - Our Story{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="story"%}
{% endblock %}
{% block content %}
<div class="pt-page pt-page-3 pt-page-current">
  <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-loveline"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Our Story<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="col-md-12 text-center vector-img"> <img class="img" src="/static/img/loveline-vector.png" alt="vector-img" /> </div>
                <div class="clearfix"></div>
                <div class="container-fluid">
                  <ul class="timeline">
                    <li>
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">Childhoods</h3>
                          <span class="label label-default">Late 70s-80s</span> </div>
                
                        <div class="ceremony-slider">
                          <div> <img class="img-responsive" src="/static/img/george-maryjanes.jpg" alt="George's Shiny Shoes" /> </div>
                          <div> <img class="img-responsive" src="/static/img/bride-regina.jpg" alt="Regina was always a natural bride" /> </div>
                          <div> <img class="img-responsive" src="/static/img/regina1.jpg" alt="Regina" /> </div>
                          <div> <img class="img-responsive" src="/static/img/regina2.jpg" alt="Regina" /> </div>
                          <div> <img class="img-responsive" src="/static/img/rosisibs.jpg" alt="Rosi Kids" /> </div>
                        </div>
                        <div class="timeline-body">
                          <p>
                            George is the baby of the family with a big gap and then two older siblings, one brother and one sister.  Regina is the baby of the family with a big gap and then two older siblings, one brother and one sister.
                            Clearly these two were meant for each other...
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><a href="#" target="_blank"><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.3s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">The First Email</h3>
                          <span class="label label-default">16 Nov 2014</span> </div>
                        <div class="timeline-img"> <img class="img-responsive" src="/static/img/tinder.jpg" alt="Regina's Profile" /> </div>
                        <div class="timeline-body">
                          <p>
                            "Before you delete this email, consider one thing..."  Regina would
                            log into Match.com to find tens if not hundreds of emails from potential
                            suitors.  George can count the number of times women reached out to him
                            on one hand.  There was so much for George to be attracted to in Regina, but he first fell in love with her writing.  A week of emails back and forth set the stage for what was sure to be an epic first date.  
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="1.6s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">The First Date</h3>
                          <span class="label label-default">21 Nov 2014</span> </div>
                        <div class="timeline-img"> <img class="img-responsive" src="/static/img/malbec.jpg" alt="Regina's Profile" /> </div>
                        <div class="timeline-body">
                          <p>
                          "Hi Regina. I'm leaving now. I've packed emergency rations, a locator beacon, and waterproof matches just in case I run into trouble on my trek. "
                          </p>
                          <p>&nbsp;</p>
                          <p>In what was the first of many signs that George had found his true love,
                          he didn't think twice about making the treacherous Santa Monica -&gt; Pasadena journey on a Friday evening to meet at one of Regina's favorite
                          restaurants: <a href="http://malbeccuisine.com/pasadena" target="_blank">Malbec</a>.</p>
                          <p>&nbsp;</p>
                          <p>George doesn't remember many specifics about what was discussed (although he undoubtably exagerrated his knowledge of fine wines), but by the end of the evening he was pretty much ready to get married.  Regina still had some reservations...
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.9s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">Making Sure</h3>
                          <span class="label label-default">Dec 2014 - Feb 2015</span> </div>
                          <div class="timeline-img"> <img class="img-responsive" src="/static/img/threeladies.jpg" alt="Three Ladies" /> </div>
                        <div class="timeline-body">
                          <p>
                            George was crazy about Regina, but Regina was a little bit more reserved.
                            George's life was a bit... complicated.  Christmas 2014 brought a trip
                            back to Michigan and some contemplation on what it would mean to seriously date a guy with kids.  But George was patient and persistent.  He looked for excuses to send her letters or talk to her on the phone. He even learned how to use emojis.  But he ultimately won her over by writing her a song.
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="2.2s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">The Song</h3>
                          <span class="label label-default">12 Feb 2015</span> </div>
                        <div class="timeline-img"> <img class="img-responsive" src="/static/img/guitar.jpg" alt="Guitar" /> </div>
                        <div class="timeline-body">
                          <p>
                            Historically George found dudes who play guitar to woman to be something
                            on the cheesy end of the spectrum, but he poured his heart into this song.
                            What he lacked in ability, he made up for in enthusiasm.  Clearly something was right, because from that point on Regina and George were inseparable. 
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.9s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">In Love</h3>
                          <span class="label label-default">13 Feb 2015</span> </div>
                          <div class="timeline-img"> <img class="img-responsive" src="/static/img/thepark.jpg" alt="In Love" /> </div>
                        <div class="timeline-body">
                          <p>
                            We spent the next year and a half learning everything about each other.
                            Regina taught George about green smoothies, the importance of planning, and <a href="http://www.usmagazine.com/entertainment/news/nick-viall-is-the-season-21-bachelor-bachelor-nation-reacts-w437204" target="_blank">Bachelor Nation</a>.  George taught Regina about <a href="https://www.amazon.com/Hitchhikers-Guide-Galaxy-Douglas-Adams/dp/0345391802" target="_blank">Douglas Adams</a>, counting in binary, and the difficulty of living with 3 boys.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInLeft" data-class="fadeInLeft" data-wow-delay="2.2s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">We are Engaged</h3>
                          <span class="label label-default">15 June 2016</span> </div>
                        <div class="timeline-img"> <img class="img-responsive" src="/static/img/engaged.jpg" alt="Engaged" /> </div>
                        <div class="timeline-body">
                          <p>
                            With Regina being the major snoop that she is, George had to enlist 
                            Marilyn and Tom into the subterfuge in planning the proposal.  
                            Regina was spending a couple of weeks in Old Mission for summer break, 
                            so George surprised her by flying out one weekend.  Marilyn took Regina out shopping in the morning while Tom picked George up at the airport so that they would be waiting for Regina when she returned home.  The proposal followed soon after and despite George's wishes that they head down to the courthouse to make it official then and there, the planning for this event began in earnest.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><a><i class="glyphicon glyphicon-heart"></i></a></div>
                      <div class="timeline-panel wow fadeInRight" data-class="fadeInRight" data-wow-delay="1.9s">
                        <div class="timeline-heading">
                          <h3 class="timeline-title">This Website</h3>
                          <span class="label label-default">19 Dec 2016</span> </div>
                          <div class="timeline-img"> <img class="img-responsive" src="/static/img/website.jpg" alt="Website" /> </div>
                        <div class="timeline-body">
                          <p>
                            It took entirely too long, and I probably just should've gone
                            with the photographer's website or some wordpress template, 
                            but I've kind of built our entire relationship on the idea 
                            that I'm good at computers, so I wasn't about to tell Regina
                            that building this website was going to take a long time.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="clearfix no-float"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block jq_onready %}
$('.ceremony-slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        autoplay: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        responsive: [
          {
              breakpoint: 1025,
              settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  infinite: true,
                  dots: false,
                  arrows: false
              }
          },
          {
              breakpoint: 769,
              settings: {
                  arrows: false,
                  slidesToShow: 1,
                  slidesToScroll: 1
              }
          },
          {
              breakpoint: 481,
              settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  arrows: false
              }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: 'unslick'
          // instead of a settings object
        ]
    });
{% endblock %}

