{% extends "base.html" %}
{% block extra_css %}
<link type="text/css" href="/static/css/jquery.countdown.css" rel="stylesheet">
{% endblock %}
{% block title_suffix %} - Traverse City{% endblock %}
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" with active_menu="places"%}
{% endblock %}
{% block content %}

<div class="pt-page pt-page-5 pt-page-current">
      <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-travel"></div>
        <div class="page-scroll">
          <div class="bg-main-image-overlay-2-gallery">
            <div class="main-section-s2">
              <div class="col-md-12">
                <div class="page-title wow fadeInUp" data-class="fadeInUp">
                  <h2>Traverse City<span><i class="glyphicon glyphicon-heart"></i></span></h2>
                </div>
                <div class="container">
                  <div class="col-md-12 location-content">
                    <div class="col-md-3 col-xs-12">
                      <div class="timeline-img"> <img class="img-responsive" src="/static/img/cornerloft.jpg" alt="Corner Loft" /> </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                  <p>
                    George's mother will be hosting the rehearsal dinner for all out-of-town guests at <a href="http://www.cornerlofttc.com/" target="_blank">The Corner Loft</a>, which is in the heart of downtown.  Staying downtown would give you dozens of hotels from which to choose and put you close to all the festivities. We love visiting the fun shops on Front Street and the Farmers' Market each Saturday. Traverse City has also become a foodie destination (you can read about
                    <a href="http://www.fodors.com/news/mario-batalis-top-summer-destinations-for-foodies-5751" target="_blank">Mario Batali's favorite places</a>), and is now home to trendy breweries and distilleries, cute coffee shops, and wonderful restaurants. If you stay downtown, you will be within walking distance to the rehearsal dinner, 20 minutes from the wedding site, and 20 minutes from my parents' house. 
                  </p>
                  </div>
                </div>
              </div>
                <h4 style="color:#000;text-align: center;">Hotels</h4>
                <div class="container">
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInLeft padding-left-right-zero" data-class="fadeInLeft">
                      <div class="white-box ceremony-detail">
                        <h5>The Holiday Inn Resort
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/holiday-inn-tc.jpeg" alt="Holiday Inn" />
                        </div>
                        <a href="https://www.ihg.com/holidayinnresorts/hotels/us/en/traverse-city/tvcmi/hoteldetail" target="_blank">Website Link</a>
                          <p>The nicest Holiday Inn we've ever seen! It's three blocks from downtown Traverse City, and right on the beach. It definitely has a resort feel, and there are sweeping views of the lake and lots of places to lounge. It's a happening place, and while it's on the pricier side, it could be a great option for families. 
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInRight padding-left-right-zero" data-class="fadeInRight">
                      <div class="white-box ceremony-detail">
                        <h5>Park Place Hotel
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/parkplace.jpg" alt="Park Place Hotel" />
                        </div>
                        <a href="http://park-place-hotel.com/" target="_blank">Website Link</a>
                          <p>A beautiful, historic hotel in the heart of downtown and within walking distance to the beach. Since it's not on the lake, the rooms are less expensive than those at the Holiday Inn. 
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInLeft padding-left-right-zero" data-class="fadeInLeft">
                      <div class="white-box ceremony-detail">
                        <h5>Great Wolf Lodge
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/greatwolf.jpg" alt="Great Wolf Lodge" />
                        </div>
                        <a href="https://www.greatwolf.com/traverse-city" target="_blank">Website Link</a>
                          <p>This wasn't on the radar until one of Regina's bridesmaids mentioned it as a good option for those with children. It's a 10-15 minute drive from downtown Traverse City, and the indoor waterpark could provide hours of entertainment for the kiddos.  
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInRight padding-left-right-zero" data-class="fadeInRight">
                      <div class="white-box ceremony-detail">
                        <h5>Grand Traverse Resort and Spa
                        </h5>
                        <div class="timeline-img"> 
                          <img class="img-responsive" src="/static/img/grandtraverse.jpg" alt="Grand Traverse Resort" />
                        </div>
                        <a href="https://www.grandtraverseresort.com/" target="_blank">Website Link</a>
                          <p> A large and lovely resort about 15 minutes from downtown Traverse City. They provide a variety of of amenities and activities as well as childcare. For those of you who are traveling with children, this could be a convenient option for the night of the wedding. 
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
