<!doctype html>
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Regina &amp; George are getting Married...</h1>
    <div>
        <p>...But the site isn't working yet.  
        <p>
        Oh man, Regina is going to kill me, I promised
        I'd get this done before the save-the-date announcements
        went out.</p>
        <p>Please don't lose faith, and check back in a couple of days!</p>
    </div>
</article>
