<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="icon" href="images/favicon.ico" type="image/gif" sizes="16x16">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="/static/css/style.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/static/css/timer.css">
<link type="text/css" rel="stylesheet" href="/static/css/animations.css">
<link type="text/css" rel="stylesheet" href="/static/css/component.css">
<link type="text/css" rel="stylesheet" href="/static/css/slick.css">
<link type="text/css" rel="stylesheet" href="/static/css/slick-theme.css">
<link type="text/css" href="/static/css/jquery.countdown.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/gridlayout.css">
<link type="text/css" rel="stylesheet" href="/static/css/jquery.fancybox.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/static/css/materialadmin.css">
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css">
<link type="text/css" rel="stylesheet" href="/static/css/animate.css">
<link type="text/css" rel="stylesheet" href="/static/css/hover.css">
<script src="/static/js/modernizr.custom.js"></script>
<title>Regina &amp; George</title>
<style>
.has-error .form-control:focus ~ label, .has-error .form-control.dirty ~ label {
	color: #f44336;
}
</style>
</head>
<body>
{% block menu %}
<!--menu bar starts from here-->
{% include "core/menu.html" %}
{% endblock %}

<div class="main-page-area">
  <div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-1">
    {% include "core/home.html" %}
    </div>
    <div class="pt-page pt-page-2">
    {% include "core/couple.html" %}
    </div>
    <div class="pt-page pt-page-3">
    {% include "core/story.html" %}
    </div>
    <div class="pt-page pt-page-4">
    {% include "core/people.html" %}
    </div>
    <div class="pt-page pt-page-5">
    {% include "core/wedding.html" %}
    </div>
    <div class="pt-page pt-page-6">
    {% include "core/gallery.html" %}
    </div>
    <div class="pt-page pt-page-7">
    {% include "core/gifts.html" %}
    </div>
    <div class="pt-page pt-page-8">
    {% include "core/rsvp.html" %}
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script> 
<script type="text/javascript" src="/static/js/function.js"></script> 
<script type="text/javascript" src="/static/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/js/slick.js"></script> 
<script type="text/javascript" src="/static/js/easyResponsiveTabs.js"></script> 
<script type="text/javascript" src="/static/js/timer.js"></script> 
<script type="text/javascript" src="/static/js/jquery.final-countdown.js"></script> 
<script type="text/javascript" src="/static/js/jquery.dlmenu.js"></script> 
<script type="text/javascript" src="/static/js/pagetransitions.js"></script> 
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script> 
<script type="text/javascript" src="/static/js/jquery.masonarygrid.js"></script> 
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script> 
<script type="text/javascript" src="/static/js/menu.js"></script> 
<script type="text/javascript" src="/static/js/wow.js"></script> 
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script> 
<script type="text/javascript" src="/static/js/formValidation.js"></script>
</body>
</html>
