<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="icon" href="/static/img/favicon.ico" type="image/gif" sizes="16x16">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="/static/css/style.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/static/css/timer.css">
<link type="text/css" rel="stylesheet" href="/static/css/animations.css">
<link type="text/css" rel="stylesheet" href="/static/css/component.css">
<link type="text/css" rel="stylesheet" href="/static/css/slick.css">
<link type="text/css" rel="stylesheet" href="/static/css/slick-theme.css">
<link type="text/css" rel="stylesheet" href="/static/css/gridlayout.css">
<link type="text/css" rel="stylesheet" href="/static/css/materialadmin.css">
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css">
<link type="text/css" rel="stylesheet" href="/static/css/animate.css">
<link type="text/css" rel="stylesheet" href="/static/css/hover.css">

{% block extra_css %}
{% endblock %}
<script src="/static/js/modernizr.custom.js"></script>
<title>{% block title %}Regina &amp; George{% endblock %}{% block title_suffix %} - Circos{% endblock %}</title>
<style>
.has-error .form-control:focus ~ label, .has-error .form-control.dirty ~ label {
	color: #f44336;
}
</style>
</head>
<body>
{% block menu %}
<!--menu bar starts from here-->
{% include "core/static_menu.html" %}
{% endblock %}

<div class="main-page-area">
  <div id="pt-main" class="pt-perspective">
{% block content %}
{% endblock %}
  </div>
</div>

<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/js/slick.js"></script> 
<script type="text/javascript" src="/static/js/easyResponsiveTabs.js"></script> 
<script type="text/javascript" src="/static/js/timer.js"></script> 
<script type="text/javascript" src="/static/js/jquery.masonarygrid.js"></script> 
<script type="text/javascript" src="/static/js/wow.js"></script> 

{% block extra_js %}
{% endblock %}

<script type="text/javascript">
	$(document).on('ready', function () {
    	
    	'use strict';

    	$('.other-menu').on('mouseenter', function () {
        	$('.hover-menu').animate({ '-moz-transform': 'translate3d(0, 84px, 0px)', '-webkit-transform': 'translate3d(0, 84px, 0px)', '-ms-transform': 'translate3d(0, 84px, 0px)', '-o-transform': 'translate3d(0, 84px, 0px)', 'transform': 'translate3d(0, 84px, 0px)' }, 'fast');
        	setTimeout(function () {
            	$('.hover-menu').css('-moz-transform', 'translate3d(0, 0px, 0px)').css('-webkit-transform', 'translate3d(0, 84px, 0px)').css('-ms-transform', 'translate3d(0, 84px, 0px)').css('-o-transform', 'translate3d(0, 84px, 0px)').css('transform', 'translate3d(0, 84px, 0px)');
        	}, 200);
    	});

	    $('.other-menu').on('mouseenter', function () {
	        $('.hover-menu').animate({ '-moz-transform': 'translate3d(0px, 0px, 0px)', '-webkit-transform': 'translate3d(0px, 0px, 0px)', '-ms-transform': 'translate3d(0px, 0px, 0px)', '-o-transform': 'translate3d(0px, 0px, 0px)', 'transform': 'translate3d(0px, 0px, 0px)', }, 'fast');
	        $('.other-menu').addClass('hover_active');
	        $('.other-menu a').addClass('hover_active selected');
	        setTimeout(function () {
	            $('.hover-menu').css('-moz-transform', 'translate3d(0px, 0px, 0px)').css('-webkit-transform', 'translate3d(0px, 0px, 0px)').css('-ms-transform', 'translate3d(0px, 0px, 0px)').css('-o-transform', 'translate3d(0px, 0px, 0px)').css('transform', 'translate3d(0px, 0px, 0px)');
	        }, 200);


	    }).on('mouseleave', function () {
	        $('.hover-menu').animate({ '-moz-transform': 'translate3d(0px, -400px, 0px)', '-webkit-transform': 'translate3d(0px, -400px, 0px)', '-ms-transform': 'translate3d(0px, -400px, 0px)', '-o-transform': 'translate3d(0px, -400px, 0px)', 'transform': 'translate3d(0px, -400px, 0px)' }, 'fast');
	        $('.other-menu').removeClass('hover_active');
	        $('.other-menu a').removeClass('hover_active selected');
	        setTimeout(function () {
	            $('.hover-menu').css('-moz-transform', 'translate3d(0px, -400px, 0px)').css('-webkit-transform', 'translate3d(0px, -400px, 0px)').css('-ms-transform', 'translate3d(0px, -400px, 0px)').css('-o-transform', 'translate3d(0px, -400px, 0px)').css('transform', 'translate3d(0px, -400px, 0px)');
	        }, 200);
	    });

    	$(window).load(function () {
	        if ($.find('.gridlayout').length) {
	            $('.gridlayout').isotope({
	                // options...
	                itemSelector: '.grid-item',
	                masonry: {
	                    columnWidth: '.grid-item'
	                }
	            });
	        }
	    });

	    $('.hamburger').on('click', function () {
	        if ($('.navbar-fixed-top').css('right') == '-100px') {
	            $('.navbar-fixed-top').animate({ right: '0px' }, 'slow');
	        }
	        else {
	            if ($('.navbar-fixed-top').css('overflow-y') == 'scroll') {
	                $('.navbar-fixed-top').animate({ right: '-100px' }, 'slow');
	            }
	        }
	    });

		$(".container-fluid").removeClass("display_none");
        $('.wow').attr('style', 'visibility: hidden; animation-name: none; -webkit-transform:translateY(20px); -moz-transform:translateY(20px); -ms-transform:translateY(20px); -o-transform:translateY(20px); transform:translateY(20px); -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -ms-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s;');

        setTimeout(function () {
            $('.wow').each(function () {

                $(this).attr('style', 'visibility: visible; animation-name: ' + $(this).attr('data-class') + '; -webkit-transform:translateY(0px); -moz-transform:translateY(0px); -ms-transform:translateY(0px); -o-transform:translateY(0px); transform:translateY(0px); -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -ms-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s;');
            });
        }, 500);

    	{% block jq_onready %}
    	{% endblock %}

    	window.wow = new WOW({
        	animateClass: 'animated',
        	offset: 0,
        	callback: function (box) {
        	}
    	});

    wow.init();
    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89178443-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
